



/* Mobile-first : styles par défaut */

/* Barre de défilement personnalisée */
body{
  font-family: 'Jost',sans-serif;
  color: rgba(241, 236, 236, 0.888);
}     
body::-webkit-scrollbar{
    width: 0.4rem;
}
body::-webkit-scrollbar-track{
     background: transparent;
 }
 
body::-webkit-scrollbar-thumb{
     background: linear-gradient(to right,#4c11bb,#4c11bb,#4531a7);
     border-radius: 5rem;
}
#navbar{
  border-bottom: 1px solid rgba(255, 255, 255, 0.064);
}
#navbar .links li a{
   transition: background 0.3s;
}
#navbar .mode ,#navbar .translate ,#navbar .toggle-btn{
    transition: background 0.3s;
}

#navbar .links{
  display: none;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.064);
  background-color: #030711e7;

}

.translate-section{
  border: 1px solid rgba(255, 255, 255, 0.064);
}
.translate-section div{
  transition: background 0.3s;
}
.section-1 .contacts-icons div{
  transition: background 0.3s;
}

#about article section.section-left article{
  transition: box-shadow .3s ease;
  border: 1px solid rgba(255, 255, 255, 0.064);
}
#about article section.section-left article:hover{
  box-shadow: 0px 0px 35px  #4712a8;

}

#about article section.section-right article div{
  transition: box-shadow .3s ease;
  border: 1px solid rgba(255, 255, 255, 0.064);
}
.section-3 .main-section{
  transition: transform 0.3s ease,opacity 0.3s ease;
  cursor: pointer;
}
.section-3 .main-section:hover{
  opacity: 0.8;
  transform: translateY(-5px) scale(1.05);
}

/* sm (≥640px) */
@media (min-width: 640px) {
  /* Styles pour écrans >= 640px */
  #navbar .links {
    display: flex;
    gap: 0rem;
    position: relative;
    top: 0;
    width: 100%;
    flex-direction: row;
    height: 100%;
    border: none;
  }

  .section-1 article{
  width: 60%;
  }
  .section-1 article h1:nth-child(3){
    font-size: 2rem;
  }
  .section-1 article h2{
    font-size: 1.5rem;
  }

  .section-2 header h1{
    font-size: 2.5rem;
  }
  .section-2 header h2{
    font-size: 1.5rem;
  }

  .section-3 header h1{
    font-size: 2.5rem;
  }

  .section-3 header h2{
    font-size: 1.5rem;
  }
  /* .section-2 .section-left{
    width: 48%;
    background: red;
  } */
}

/* md (≥768px) */
@media (min-width: 768px) {
  /* Styles pour écrans >= 768px */
  #navbar{
    padding: 0 2rem;
  }
  #navbar .links{
    display: flex;
    gap: 0.5rem;
    position: relative;
    top: 0;
    width: 100%;
    flex-direction: row;
    height: 100%;
    background-color: transparent; 
    border: none;
  }

  #navbar .toggle-btn{
    display: none;
  }
}

/* lg (≥1024px) */
@media (min-width: 1024px) {
  /* Styles pour écrans >= 1024px */
}

/* xl (≥1280px) */
@media (min-width: 1280px) {
  /* Styles pour écrans >= 1280px */
}

/* 2xl (≥1536px) */
@media (min-width: 1536px) {
  /* Styles pour écrans >= 1536px */
}