



/* Mobile-first : styles par défaut */

/* Barre de défilement personnalisée */
html{
  scroll-behavior: smooth; /* pour un défilement fluide */
}
body{
  font-family: 'Jost',sans-serif;
  background: #030711;
  color: rgba(241, 236, 236, 0.888);
  transition: background 0.4s, color 0.4s;
}  
body.white-mode {
  background-color: white;
  color: black;
}   
body::-webkit-scrollbar{
    width: 0.4rem;
}
body::-webkit-scrollbar-track{
     background: transparent;
 }
 
body::-webkit-scrollbar-thumb{
     background: linear-gradient(to right,#4c11bb,#4c11bb,#4531a7);
     border-radius: 5rem;
}
#navbar{
  border-bottom: 1px solid rgba(255, 255, 255, 0.064);
  transition: background 0.4s, color 0.4s;
}
.white-mode #navbar{
  border-bottom: 1px solid rgba(23, 21, 21, 0.064);
  color: black;
}


#navbar .links li a{
   transition: background 0.3s;
}

#navbar .mode ,#navbar .translate ,#navbar .toggle-btn{
    transition: background 0.3s;
}

#navbar .theme-icon-hidden{
  display: none;
  transition: display 0.3s ;
}

#navbar .links{
  display: none;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.064);
  background-color: #030711e7;
  transition: display 0.4s, color 0.4s;
}
.white-mode #navbar .links{
  color: white;
}

#navbar .links.showLinks{
  display: flex;
}
.toggle-btn-icon{
  display: none;
}
.section-1{
  background-color: #030711;
  transition: background 0.4s, color 0.4s ;
}
.white-mode .section-1{
  background-color: rgba(255, 255, 255, 0);
  /* color: black; */
}
.section-4 .btns article .all{
box-shadow: 0px 0px 10px  #4712a8;
}
.section-4 .btns article div{
  border: 1px solid rgba(255, 255, 255, 0.142);
}

.translate-section{
  border: 1px solid rgba(255, 255, 255, 0.064);
  transition: display 0.4s;
  display: none;
}
.translate-section.showTranslateSection{
  display: flex;
}
.white-mode .translate-section{
  border: 1px solid rgba(23, 21, 21, 0.064);
}
.translate-section div{
  transition: background 0.3s;
}
.section-1 .contacts-icons div{
  transition: background 0.3s;
}

#about article section.section-left article{
  transition: box-shadow .4s , background 0.4s, color 0.4s, border 0.4s ;
  border: 1px solid rgba(255, 255, 255, 0.064);
  background-color: #0F1629;
}
.white-mode #about article section.section-left article{
  background-color: white;
  color: black;
  border: 1px solid rgba(27, 23, 23, 0.148);
}
#about article section.section-left article:hover{
  box-shadow: 0px 0px 10px  #4712a8;

}

#about article section.section-right article div{
  transition: box-shadow .3s ease;
  background-color: #0F1629;
  border: 1px solid rgba(255, 255, 255, 0.064);
}
.white-mode #about article section.section-right article div{
  background-color: white;
  color: black;
  border: 1px solid rgba(27, 23, 23, 0.148);
}


.section-3 {
  background-color: #040814;
  transition: background 0.4s,color 0.4s;
}
.white-mode .section-3 {
  background: transparent;
}
.section-3 .main-section{
  transition: transform 0.3s ease,opacity 0.3s ease;
  cursor: pointer;
}
.section-3 .main-section:hover{
  opacity: 0.8;
  transform: translateY(-5px) scale(1.05);
}

.section-4 .project article section{
  border: 1px solid rgba(255, 255, 255, 0.064);
  transition: transform 0.3s ease;
  transition: background 0.4s, color 0.4s, border 0.4s ;
}
.white-mode .section-4 .project article section{
  background-color: white;
  color: black;
  border: 1px solid rgba(27, 23, 23, 0.148);
}
.section-4 .project article section:hover{
  transform: translateY(-2px) scale(1.02);
}

.section-5 {
  background-color: #040814;
  transition: background 0.4s, color 0.4s;
}
.white-mode .section-5{
  background-color: transparent;
}
.section-5 section article section{
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.064);
  transition: transform 0.3s ease,box-shodow 0.3s ease;

}
.white-mode .section-5 section article section{
  background-color: white;
  color: black;
  border: 1px solid rgba(27, 23, 23, 0.148);

}

.section-5 section article section:hover{
    transform: translateY(-2px) scale(1.02);
    box-shadow: 0px 0px 10px  #4712a8;
  }
.section-5 section article section  a{
    transition: background 0.3s ease;
  }

.location {
  border: 1px solid rgba(255, 255, 255, 0.064);
  transition: background 0.4s, color 0.4s, border 0.4s ;
}
.white-mode .location{
  background-color: white;
  color: black;
  border: 1px solid rgba(27, 23, 23, 0.148);
}

footer section article p {
  color: #ffffff1a;
  font-size: 1rem;
  font-family: "Italianno", cursive;
}
footer section:nth-child(1){
  border-bottom: 1px solid rgba(255, 255, 255, 0.064);
}
.white-mode footer section:nth-child(1){
  border-bottom: 1px solid rgba(14, 12, 12, 0.646);
}
 footer p, footer h2{
  transition: color 0.4s;
 }
.white-mode footer p, .white-mode footer h2{
  color: black;
}

/* sm (≥640px) */
@media (min-width: 640px) {
  /* Styles pour écrans >= 640px */
  #navbar .links {
    display: flex;
    gap: 0rem;
    position: relative;
    top: 0;
    width: 100%;
    flex-direction: row;
    background-color: transparent; 
    height: 100%;
    border: none;
  }

  .section-1 article{
  width: 60%;
  }
  .section-1 article h1:nth-child(3){
    font-size: 2rem;
  }
  .section-1 article h2{
    font-size: 1.5rem;
  }

  .section-2 header h1{
    font-size: 2.5rem;
  }
  .section-2 header h2{
    font-size: 1.5rem;
  }
  .section-3 header h1{
    font-size: 2.5rem;
  }

  .section-3 header h2{
    font-size: 1.5rem;
  }

  .section-4 header h1{
    font-size: 2.5rem;
  }

  .section-4 header h2{
    font-size: 1.5rem;
  }


  .section-5 header h1{
    font-size: 2.5rem;
  }

  .section-5 header h2{
    font-size: 1.5rem;
  }
  .white-mode #navbar .links{
  color: black;
}
  

  /* .section-2 .section-left{
    width: 48%;
    background: red;
  } */
}

/* md (≥768px) */
@media (min-width: 768px) {
  /* Styles pour écrans >= 768px */
  #navbar{
    padding: 0 2rem;
  }
  #navbar .links{
    display: flex;
    gap: 0.5rem;
    position: relative;
    top: 0;
    width: 100%;
    flex-direction: row;
    height: 100%;
    background-color: transparent; 
    border: none;
  }

  #navbar .toggle-btn{
    display: none;
  }

}

/* lg (≥1024px) */
@media (min-width: 1024px) {
  /* Styles pour écrans >= 1024px */
}

/* xl (≥1280px) */
@media (min-width: 1280px) {
  /* Styles pour écrans >= 1280px */
}

/* 2xl (≥1536px) */
@media (min-width: 1536px) {
  /* Styles pour écrans >= 1536px */
}